.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

body {
  background-color: #edf3f8;
}

.main-nav {
  display: none;
}

.menu-link-pricing,
.menu-link-about,
.menu-link-contact {
  text-decoration: none;
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 51px;
  height: 18px;
  top: 11px;
  left: 199px;
  gap: 0px;
  opacity: 0.7px;
}

.menu-link-pricing {
  margin-right: 8px;
}

.menu-link-about {
  margin-right: 8px;
}

.menu-link-contact {
  margin-right: 8px;
}

.cta {
  display: none;
}

.link {
  text-decoration: none;
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
}

.phone {
  align-items: center;
}

.hero-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.hero-title {
  text-align: center;
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
}

.hero-title h1 {
  margin-top: 0;
  font-size: 32px;
}


footer {
  background-color: #1b262f;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.cta-email {
  font-family: Public Sans;
  font-weight: 700;
  line-height: 17.63px;
  background-color: #ba4270;
  color: #fbfcfe;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  margin-right: 1px;
  border-radius: 32px;
  margin-top: 8px;
}

.main-form {
  padding-left: 24px;
  padding-right: 24px;
}

.main-form input {
  width: 100%;
  padding: 16px 24px;
  border-radius: 32px;
  border: none;
}

.cta-email {
  width: 100%;
  border: none;
}

.help-link {
  margin-top: 16px;
  text-align: center;
  color: #6c8294;
}

.help-link a {
  color: #6c8294;
  text-decoration: none;
  font-weight: 600;
  font-family: Public Sans;
}

.question-container {
  text-align: center;
  color: #6c8294;
  font-family: Public Sans;
}

.question-container a {
  text-decoration: none;
  color: #6c8294;
  font-family: Public Sans;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  header {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    display: flex;
  }

  .cta {
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    letter-spacing: -0.11538461595773697px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    background-color: #ba4270;
    color: #fbfcfe;
    display: block;
    padding: 16px;
    border-radius: 32px;
  }
  .menu-burger {
    display: none;
  }

  .main-form {
    position: relative;
  }

  .cta-email {
    position: absolute;
    width: unset;
    right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    max-width: 1100px;
  }

  .logo {
    margin-right: 16px;
  }

  .header-container {
    justify-content: unset;
  }

  .main-nav {
    margin-left: 32px;
  }
  .menu-link-pricing {
    margin-right: 32px;
  }

  .menu-link-about {
    margin-right: 32px;
  }

  .menu-link-contact {
    margin-right: 32px;
  }

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1100px;
  }

  .main-form {
    padding: 0;
  }

  .help-link { 
    text-align: left;
  }

  .cta {
    margin-left: auto;
  }

  .cta-email {
    margin-top: 0px;
    right: 0;
  }
}
