.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

body {
  background-color: #edf3f8;
}

.main-nav {
  display: none;
}

.menu-link-pricing, .menu-link-about, .menu-link-contact {
  text-decoration: none;
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none  ;
  width: 51px;
  height: 18px;
  top: 11px;
  left: 199px;
  gap: 0px;
  opacity: 0.7px;
  
} 

.menu-link-pricing {
  margin-right: 8px;
}

.menu-link-about {
  margin-right: 8px;
}

.menu-link-contact {
  margin-right: 8px;
}

.cta {
  display: none;
}

.link {
  text-decoration: none;
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
}

.phone {
  align-items: center;
}

.hero-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.hero-title {
  text-align: center;
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
}

.hero-title h1 {
  margin-top: 0;
  font-size: 32px;
}

.phone {
  box-shadow: 25px 25px 80px 0px #36536b4d;
} 


footer {
  background-color: #1b262f;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.cta-email {
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  letter-spacing: -0.11538461595773697px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  background-color: #ba4270;
  color: #fbfcfe;
  display: block;
  padding: 16px;
  border-radius: 32px;
}

.main-form {
  padding-left: 24px;
  padding-right: 24px;
}

.main-form input {
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 32px;
}

.main-form button {
  width: 100%;
}
 
.question-container {
  text-align: center;
  color: #6C8294;
  font-family: Public Sans;
}

.question-container a {
  text-decoration: none;
  color: #6C8294;
  font-family: Public Sans;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  header {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    display: flex;
  }

  .cta {
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.63px;
    letter-spacing: -0.11538461595773697px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    background-color: #ba4270;
    color: #fbfcfe;
    display: block;
    padding: 16px;
    border-radius: 32px;
  }
  .menu-burger {
    display: none;
  }
}


@media screen and (min-width: 1024px) {
  header {
    max-width: 1100px;
  }

  .logo {
    margin-right: 16px;
  }

  .header-container {
    justify-content: unset;
  }

  .main-nav {
    margin-left: 32px;
  }
  .menu-link-pricing {
    margin-right: 32px;
  }
  
  .menu-link-about {
    margin-right: 32px;
  }
  
  .menu-link-contact {
    margin-right: 32px;
  }

  .cta {
    margin-left: auto;
  }

  .cta-email {
    margin-left: 1000px;
    position: relative;
    top: -73px;
    left: -500px;
  }
}

